.blog {
  &:hover {
    .blog__img {
      @apply opacity-80;
    }
  }
  &__content {
    &-desc {
      height: 4.4rem;
      line-height: 2.2rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
